.desktop {
    display: none;
}

.navigation {
    background-color: #042483;
    display: flex;
    align-items: center;
}

.mobile {
    display: flex;
}

.mat-column-change {
    flex: 0 0 40%;
}


.mat-column-bookId {
    flex: 0 0 17%;
}